<h1>OVERSIGT OVER AKTIVITETER</h1>

<h2>Alle mosens kroge byder på eventyr!</h2>

<p>Her er planen for de expeditioner der søger eventyrere:</p>

<h2>Fredag aften før spil</h2>
<ul>
  <li>Workshop: Er det din Con1??</li>
</ul>

<h2>Fredag aften</h2>
<ul>
  <li>Et kapløb om Sydpolen</li>
  <li>Tintin og den Forsvudne spilleder</li>
</ul>

<h2>Lørdag dag</h2>
<ul>
  <li>Vampyrfangeren</li>
  <li>[Bjarkes]</li>
</ul>

<h2>Lørdag aften</h2>
<ul>
  <li>Excavation 34°32'20.0"N 108°54'10.4"W</li>
  <li>Fang Vampyren</li>
  <li>Fyrtårnet</li>
</ul>

<h2>Søndag dag</h2>
<ul>
  <li>Barbarer!</li>
  <li>Ingen vej ud</li>
</ul>

<p>Vi har en del færre spil i år, men vi prøver på at alle der ønsker at spille i et
  eller flere scenarier, mindst får en plads i et scenarie.</p>
