<h1>Et Kapløb om Sydpolen</h1>

<h2>Vil i slå nordmændene og nå Sydpolen først, for konge og fædreland?…<br>og hvad vil det have kostet?</h2>

<div class="activity_highlight">
    <p>Fredag Aften</p>
</div>

<p>Året er 1911 og den britiske ekspedition ledet af Scott kæmper for at nå Sydpolen før
    nordmanden Amundsen og vinde hæder og ære. Scenariet handler om kampen mod den barske
    antarktiske natur, i forsøget på at komme først til Sydpolen. Men det er også scenariet
    om hvordan strabadserne slider deltagerne ned og forandrer dem, som den kolde antarktiske
    vind sliber isskulpturer i landskabet. I påtager jer rollen som deltagere i den britiske
    ekspedition. Hvordan overkommer i strabadserne undervejs og hvor meget er i villige til
    at opgive for at nå først?</p>
<p>Af Christoffer Hoeck</p>
