<h1>Tintin og den Forsvudne spilleder</h1>

<h2>Tintin eventyr kun fantasien sætter grænser for!</h2>

<div class="activity_highlight">
    <p>Fredag Aften</p>
</div>

<p>Det kunne blive til Tintin og Jernkronen, Tintin og Kapløbet om Nordpolen,
    Tintin og den Magiske Cirkel, Tintin og Forsøget, Tintin i Vietnam,
    Tintin og Gåden om Atlantis eller Tintin og den forsvundne Vikingeskat.</p>
<p>Kun en ting er sikkert: Tintin, Kaptajn Haddoc,
    Professor Tournesol, Dupont og Dupond samt Terry tager
    endnu en gang på eventyr. Hvad der sker er op til spillerne, der sammen skaber og
    udspiller et Tintinalbum.</p>
<p>Af Anders Skovgaard-Winther</p>
