<h1>Excavation 34°32'20.0"N 108°54'10.4"W</h1>

<h2>Mens spillerne undersøger et 245 millioner år gammelt udgravningssegment,
    får de indsigt i jordens historie og fremtid og må i et kapløb med deres
    sinds forfald beslutte, hvad de vil gøre</h2>

<div class="activity_highlight">
    <p>Lørdag Aften</p>
</div>

<p>Scenariet er en lovecraftian fortælling i aktuel tid. Det er et spillederløst scenarie for 4-5 spillere.
    På baggrund af forskellige kort med beskriver og valgmuligheder, fortæller spillerne en historie sammen
    og må tage nogle store beslutninger. Samtidigt med, at man formentligt bliver mere og mere vanvittig.</p>
<p>Af Morten Hansen</p>
