<h1>Fyrtårnet</h1>

<h2>Det dystre fyrtårn på Sheep Island står fast i stormen.. Men gør i?</h2>

<div class="activity_highlight">
    <p>Lørdag Aften</p>
</div>

<p>“Hvad er der dog foregået her” gispende den unge løjtnant.</p>

<p>Øjnene var vidt åbne og lommetørklædet var presset godt op foran næse og mund i et forsøg på at holde stanken ud og ansigtet var helt blegt.</p>

<p>Thomas stod som forstenet, han havde aldrig set noget lignende. En blodig klump, der engang havde været et menneske lå ved foden af trappen.</p>

<p>Lyden af indianeren Gentle Wolfs stemme lød ind gennem døren. Han sang en af sit folks sange, Thomas var ikke ekspert og forstod ikke sproget, men det lød som en klagesang.</p>

<p>6 mennesker er af hver deres grund endt på en lille ø ud for Nova Scotias kyst i 1890’erne. Her skal de passe et fyrtårn og øens får. To par og en far og en datter og en hyrdehund. Hvad kan dog gå galt?</p>

<p>Af Julie Blegvad</p>
