<h1>Fang vampyren</h1>

<h2>En gruppe forkælede teenagere har holdt en vampyr fanget i et sommerhus i Nordsjælland. Men nu er vampyren undsluppet</h2>

<div class="activity_highlight">
    <p>Lørdag Aften</p>
</div>

<p>Du og dine venner må hellere fange blodsugeren, inden den forvandler hele byen til vampyrer -
    eller værre endnu, jeres forældre og politiet opdager, at I er skyldige i kidnapning.</p>

<P>Scenariet foregår over en nat i et sommerhuskvarter i den danske forsommer og byder på
    vild action, uhygge og moralsk anløbne spilpersoner.</P>

<P>Spil scenariet, hvis du kan lide selv at bygge karakterer og verden, og hvis du gerne vil
    opleve et vampyrscenarie, hvor det er menneskene, der er overmagten.</p>
<p>Af (Kommer snart)</p>
