<h1>Barbarer</h1>

<h2>Drag med en håndfuld barbariske søskende fra Nordens bjerge til den dekadente men vidunderlige stad Ascalon på jagt efter en fortabt slægtning.</h2><!--  -->

<div class="activity_highlight">
    <p>Søndag Dag</p>
</div>


<p>fire behårede, pelsklædte søskende, er kommet fra Det Høje Nord til den vældige, dekadente storby Ascalon for at
    hente en fortabt slægtling hjem. Men er slægtningen taget til fange, eller bare for facineret af storbyens
    fiksfakserier til at ville vende hjem til de sneklædte bjerge og skove? Og hvad længes Vore Helte egentlig selv mest efter?</p>
<p>Af Troels Ken Pedersen</p>
