<h1>Ingen vej ud</h1>

<h2>Plat, så prøver vi den oversvømmede korridoren mod vest. Krone, så kravler vi ned i slugten mod øst.
</h2>

<div class="activity_highlight">
    <p>Søndag Dag</p>
</div>

<p>Ingen Vej Ud handler om en dungeon crawl af episke proportioner. Eventyrerne blev sammen sænket ned i
    superdungeonen Undermountain under Waterdeep i håb om at finde rigdom, ære, berømmelse eller deres
    frihed. Men det, der skulle have været en simpel mission, har nu udviklet sig til et mareridt, som
    driver eventyrerne længere ned i mørket. Både bogstaveligt og billedligt.</p>

<p>
    Ingen af dem ved præcis, hvor længe de har gået i mørket, eller hvor de er. De lever af, hvad de finder,
    mens de forsøger at holde sig i live mod monstre, fælder og hinanden, indtil de finder en vej ud.
</p>

<p>Af Jesper Stein Sandal</p>
